# Default ignored files
*.pkl
dataset/IDX_ALL_V2/
dataset/IDX_ALL_V3/
dataset/IDX_ALL/
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
echo "dataset/" >> .gitignore

